.selectors {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140px;
  margin: 40px 0;
  button {
    font-size: calc(1rem + 0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer; 
    white-space: nowrap;
    align-self: center;
    
    transition: 0.3s;
    &:hover {
      background-color: rgb(206, 206, 206);
    }
  }
}
