$color--primary: #1b1b1b;
$color--primary-opacity: rgb(10, 163, 252);
$color--secondary: rgb(15, 15, 15);
$color--secondary-opacity: rgba(91, 92, 92, 0.774);
$color-fonts:rgba(248, 248, 248, 0.945); 
$color--secondary-fonts: rgb(32, 32, 32);
$color--primary-background: rgb(248, 248, 248); 