@import '../colors.scss';


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:50px !important;
}
.featured {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.latestsWeb {
  display: flex;
}
.latestsMobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .featured {
    flex-direction: column;
  }
  .latestsWeb {
    display: none;
  }
  .latestsMobile {
    display: flex;
    flex-direction: column;
    div {
        margin-top: 10px; ;
    }
  }
}

.latest {
  align-self: flex-start;
  margin: 0;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  color: $color-fonts;
  background-color: $color--secondary;
}

.subfeatured {
}

.oldContainer {
  margin-top: 100px;
  width: 100%;
  max-width: 700px;
}
.oldest {
    align-self: flex-start;
    margin: 0;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    color: $color-fonts;
    background-color: $color--secondary;
}
.old {
  margin-bottom: 60px;
  width: 100%;
  max-width: 900px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and(max-width: 700px) {
  .oldContainer {
    width: 90vw;
  }
  .wrapper {
    padding: 0;
  }
  .old {
    display: flex;
    flex-direction: column;
  }
}
