@import '../colors.scss';
.title {
    color: $color-fonts; 
    padding: 10px; 
    width: 100%;
    background-color: $color--secondary; 
    font-size: calc(1rem + 0.6vw);
}

.wrapper {
    display: flex;
    flex-direction: column;
    
    h2 {
        margin: 0; 
    }
    
}


.alignSelf {
    align-self: center;
    margin: 30px 30px; 
}