@import '../colors.scss';

.color {
 color: $color--secondary-fonts;
 font-family: 'Roboto', sans-serif;
}
.big {
    font-size: calc(2.2rem + 0.5vw)
}

.small {
    font-size: calc(1rem + 0.3vw)
}

.medium {
    font-size: calc(2rem + 1vw)
}