@import '../../styles//colors.scss';
.oldContainer {
  margin-top: 100px;
  width: 100%;
  max-width: 700px;
}
.oldest {
  align-self: flex-start;
  margin: 0;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  color: $color-fonts;
  background-color: $color--secondary;
}
.old {
  margin-bottom: 60px;
  width: 100%;
  max-width: 900px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and(max-width: 700px) {
  .oldContainer {
    width: 90vw;
  }
  .wrapper {
    padding: 0;
  }
  .old {
    display: flex;
    flex-direction: column;
  }
}
