$color--primary: #f38342;
$color--primary-opacity: #24e9e9bd;
$color--secondary: rgb(70, 70, 70);
$color--secondary-opacity: rgba(91, 92, 92, 0.774);
$color-fonts:rgba(252, 252, 252, 0.945); 
$color--secondary-fonts: rgb(57, 51, 70);
$color--primary-background: rgb(243, 243, 243); 