@import '../colors.scss';

/* Post normal*/
.Wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
  transition: 0.3s;
  height: auto;
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px rgba(189, 189, 189, 0.527);
  padding: 10px; 
  img {
    width: 40%;
  }
  h4 {
    margin: 0;
    padding: 15px;
    word-wrap: break-word !important;
    color: $color--secondary-fonts; 
    padding: 10px; 
    width: 55%
  }
}

.postInfos {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h5 {
    background-color: $color--primary;
    color: $color-fonts;
    padding: 7px;
    font-size: 14px;
    margin: 0 10% 0 0;
    font-family: Roboto;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    strong {
      margin-left: 5px;
      word-wrap: break-word !important;
      color: $color--primary;
    }
    span {
      color: rgb(185, 185, 185);
    }
  }
}

/*Post Featured*/
.WrapperF {
  position: relative;
  height: 27vw;
  max-height: 300px; 
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
      opacity: 80%;
  }
  h4 {
    color: $color-fonts;
    background-color: $color--secondary-opacity;
    padding: 10px;
    margin: 0;
    word-wrap: break-word !important;
  }

  .postInfos {
    justify-content: space-between;
    background-color: $color--secondary-opacity;
    max-height: 50px; 
  }
}



/* Post subFeature*/
.WrapperS {
  @extend .WrapperF;
  width: 100%;
  min-width: 280px;
  height: 27vw;
  max-height: 150px;
}


@media screen and(max-width: 514px ) {
    .Wrapper {
        flex-direction: column;
        img {
            width: 100%; 
        }

        h4 {
            font-size: 1.6em;
            width: 100%;
        }
    }
}